*~
.settings
.buildpath
.project
.idea/
vendor/
/data/test-runs/*
!/data/test-runs/.gitkeep
.php_cs.cache
node_modules/
config.php
.php-cs-fixer.cache
.phplint-cache
.phpunit.result.cache
infection-*.log
rewrite*.php
.reports/
.phpcs.cache
data/*.txt
npm-shrinkwrap.json
parsers/browscap-php/data/
parsers/php-get-browser/data/browscap.ini
parsers/php-get-browser/data/version.txt
parsers/ua-parser-php/version.txt
package-lock.json
