*~
.settings
.buildpath
.project
.idea/
vendor/
/data/test-runs/*
!/data/test-runs/.gitkeep
.php_cs.cache
/node_modules
config.php
.php-cs-fixer.cache
.phplint-cache
.phpunit.result.cache
infection-*.log
rewrite*.php
.reports/
.phpcs.cache
data/*.txt
