.idea/
/vendor
/data/test-runs/*
!/data/test-runs/.gitkeep
.php_cs.cache
/node_modules
config.php
.php-cs-fixer.cache
/data/*.list.txt
package-lock.json
composer.lock
parsers/3rd-eden-useragent/npm-shrinkwrap.json
parsers/amplitude-ua-parser-js/npm-shrinkwrap.json
parsers/amplitude-ua-parser-js/npm-shrinkwrap.json
parsers/bowser/npm-shrinkwrap.json
parsers/browscap-php/composer.lock
parsers/browser-detect/npm-shrinkwrap.json
parsers/browser-detector/composer.lock
parsers/cbschuld/composer.lock
parsers/crawler-detect/composer.lock
parsers/detect-browser/npm-shrinkwrap.json
parsers/device-detector-node/npm-shrinkwrap.json
parsers/device-detector/npm-shrinkwrap.json
parsers/donatj/composer.lock
parsers/endorphin/composer.lock
parsers/express-useragent/npm-shrinkwrap.json
parsers/fex-uadevice/npm-shrinkwrap.json
parsers/financial-times-useragent_parser/npm-shrinkwrap.json
parsers/hotoo-detector/npm-shrinkwrap.json
parsers/jenssegers-agent/composer.lock
parsers/journyio-user-agent-parser/npm-shrinkwrap.json
parsers/matomo-device-detector/composer.lock
parsers/mobile-detect/composer.lock
parsers/node-device-detector/npm-shrinkwrap.json
parsers/platformjs/npm-shrinkwrap.json
parsers/ua-parser-js/npm-shrinkwrap.json
parsers/ua-parser-php/composer.lock
parsers/vigour-ua/npm-shrinkwrap.json
parsers/whichbrowser-js/npm-shrinkwrap.json
parsers/whichbrowser-php/composer.lock
parsers/wolfcast/composer.lock
parsers/woothee-js/npm-shrinkwrap.json
parsers/woothee-php/composer.lock
tests/browscap/composer.lock
tests/browser-detector/composer.lock
tests/chschuld/composer.lock
tests/crawler-detect/composer.lock
tests/curated/composer.lock
tests/donatj/composer.lock
tests/endorphin/composer.lock
tests/matomo/composer.lock
tests/mobile-detect/composer.lock
tests/ua-parser-js/composer.lock
tests/ua-parser-js/npm-shrinkwrap.json
tests/ua-parser-php/composer.lock
tests/whichbrowser-php/composer.lock
tests/woothee-php/composer.lock
